<!--
    Filename: nav.ejs
    Author: Timothy Damir Kovacic
-->
<header class="mb-auto">
    <div>
        <nav class="navbar navbar-dark" style="background-color: #12171F; !important">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="font-size: 32px;">
                    <img src="/images/bb-church-big-logo.png" alt="Logo" width="220" height="50" class="d-inline-block align-text-top" style="margin: 0px;">
                </a>
                <button id="navbarExpandButton" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="text-align: right;">
                        <li class="nav-item">
                            <a class="nav-link" href="/"><h3>Home</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prayer"><h3>View Prayer Requests</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prayer/create"><h3>Create Prayer Requests</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://youtube.com/playlist?list=PLnyMDYddWGCRse1T787-iEBMx8kglrJQ_&si=R-iJuZU8q6jvLDWx"><h3>Worship Playlist</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://www.dropbox.com/scl/fi/bzmq5xd9mekh66jndfp6b/Daily-Devotion-Version-1-Nov-2023.pdf?rlkey=oz1t2rak84l6v09ibn3ltx38z&dl=0"><h3>Daily Devotional</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://donorbox.org/building-fund-for-barn?utm_medium=qrcode&utm_source=qrcode"><h3>Donate</h3></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>