<!--
    Filename: nav.ejs
    Author: Timothy Damir Kovacic
-->
<header class="mb-auto">
    <div>
        <nav class="navbar navbar-dark" style="background-color: #12171F; !important">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="font-size: 32px;">
                    <img src="/images/bb-church-big-logo.png" alt="Logo" width="220" height="50" class="d-inline-block align-text-top" style="margin: 0px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="text-align: right;">
                        <li class="nav-item">
                            <a class="nav-link" href="/"><h3>Home</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prayer"><h3>View Prayer Requests</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prayer/create"><h3>Create Prayer Requests</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><h3>Donate</h3></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>