<!--
    Filename: createPrayer.ejs
    Author: Timothy Damir Kovacic
-->
<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto" style="background-color: #12171F">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Timothy Damir Kovacic">
        <title>Create Prayer Requests</title>
        <%- include('partials/css') %>
    </head>
    <body class="d-flex h-100 text-center text-bg-dark" style="background-color: #12171F">
        <div class="cover-container d-flex w-100 h-100 mx-auto flex-column" style="background-color: #12171F">
            <%- include('partials/nav') %>
            <main class="px-3">
                <div class="container text-center">
                    <div class="row">
                        <div class="col animate__animated animate__flipInY" style="text-align: center">
                            <div class="card border-dark mb-3" style="margin-top: 40px; border-radius: 40px 40px 40px 40px; max-width: 30rem; text-align: center; display: grid">
                                <div class="card-header" style="text-align: center; font-weight: bold; font-size: x-large; border-radius: 30px 30px 0px 0px; background-color: #556C91 !important; border-color: #556C91 !important; color: white;">Create Prayer Request</div>
                                <div class="card-body" style="border-radius: 0px 0px 30px 30px; text-align: center;  display: grid; background-color: #2B374A; border-color: #2B374A; color: white;">
                                    <div class="container px-2 my-2" style="padding-top: 0px;">
                                        <form id="contactForm">
                                            <div class="mb-1" style="text-align: left;">
                                                <label class="form-label" for="category">Category</label>
                                                <select class="form-select" name="category" id="category" aria-label="Category">
                                                    <option value="1">Praise & Rejoice</option>
                                                    <option value="2">Health &amp; Safety</option>
                                                    <option value="3">Guidance &amp; Wisdom</option>
                                                    <option value="4">Peace &amp; Happiness</option>
                                                    <option value="5">Strength &amp; Courage</option>
                                                    <option value="6">Attention &amp; Care</option>
                                                    <option value="7">Recovery &amp; Renewal</option>
                                                    <option value="8">Other</option>
                                                </select>
                                            </div>
                                            <div class="mb-1" style="text-align: left;">
                                                <label class="form-label" for="prayerRequest">Request Details</label>
                                                <textarea class="form-control" name="prayerRequest" id="prayerRequest" type="text" placeholder="Prayer Request" style="height: 10rem;" data-sb-validations="required"></textarea>
                                                <div class="invalid-feedback" data-sb-feedback="prayerRequest:required">Prayer Request is required.</div>
                                            </div>
                                            <br>
                                            <div class="d-grid">
                                                <button class="btn btn-lg btn-light fw-bold border-white bg-white" id="submitButton" type="button" style="background-color: #556C91 !important; border-color: #556C91 !important; color: white;">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="mt-auto text-white-50">
                <p><a href="https://getbootstrap.com/" class="text-white"></a><a href="https://twitter.com/mdo" class="text-white"></a></p>
                <div id="overlay" style="display:none;">
                    <div class="spinner"></div>
                    <br/>
                    Submitting...
                </div>
                <div id="overlayAlert" style="display:none;">
                    <div style="opacity: 100%; !important;" id="liveAlertPlaceholder"></div>
                </div>
            </footer>
        </div>
        <!--<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <df-messenger
                chat-icon="https:&#x2F;&#x2F;bethlehem-baptist-church-mga46uiygq-uc.a.run.app&#x2F;images&#x2F;dialogflowHelperIcon.png"
                intent="WELCOME"
                chat-title="Bethlehem Baptist Church Assistant"
                agent-id="4583037b-8da7-44fb-a16d-fd205dab2191"
                language-code="en"
        ></df-messenger>-->
        <%- include('partials/js') %>
        <script>
            const alertPlaceholder = document.getElementById('liveAlertPlaceholder');
            const appendAlert = (message, type) => {
                const wrapper = document.createElement('div');
                let spanTag = `<svg style="width: 50px; height: 50px; padding-top: 20px; display: inline;" class="bi shrink-0 me-1" role="img" aria-label="Info:"><use xlink:href="#check-circle-fill"/></svg>`;
                if(type === 'danger') {
                    spanTag = `<svg style="width: 50px; height: 50px; padding-top: 20px; display: inline;" class="bi shrink-0 me-1" role="img" aria-label="Info:"><use xlink:href="#exclamation-triangle-fill"/></svg>`;
                }
                wrapper.innerHTML = [
                    `<div id="alertNotification" class="alert alert-${type} alert-dismissible animate__animated animate__slideInLeft myAlert-top" style="margin: 0px; height: 100px;" role="alert">`,
                    `<div style="display: inline;">${spanTag}</div>`,
                    `<div style="font-size: larger; display: inline; padding-top: 10px;">${message}</div>`,
                    `<div style="display: inline;">${spanTag}</div>`,
                    '<button type="button" onclick="$(\'#overlayAlert\').fadeOut()" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-top: 25px; margin-right: 10px;"></button>',
                    '</div>'
                ].join('');
                alertPlaceholder.append(wrapper);
            }
            const alertTrigger = document.getElementById('submitButton');
            if (alertTrigger) {
                alertTrigger.addEventListener('click', () => {
                    const alertList = document.querySelectorAll('.alert');
                    const alerts = [...alertList].map(element => new bootstrap.Alert(element));
                    alerts.forEach(alert => alert.close());
                    const payload = {
                        //"title": $('#title').val(),
                        "category": $('#category option:selected').text(),
                        "prayerRequest": $('#prayerRequest').val()
                    };
                    if(null == payload.category || payload.category.length < 1){$('#overlayAlert').fadeIn();appendAlert('Missing Category', 'danger');document.getElementById('liveAlertPlaceholder').scrollIntoView();$('#category').css("border", "5px solid red");return;}else{$('#category').css("border", "3px solid green");}
                    //if(null == payload.title || payload.title.length < 1){appendAlert('Title is required.', 'danger');document.getElementById('alertNotification').scrollIntoView();$('#title').css("border", "5px solid red");return;}else{$('#title').css("border", "3px solid green");}
                    if(null == payload.prayerRequest || payload.prayerRequest.length < 1){$('#overlayAlert').fadeIn();appendAlert('Missing Details', 'danger');document.getElementById('liveAlertPlaceholder').scrollIntoView();$('#prayerRequest').css("border", "5px solid red");return;}else{$('#prayerRequest').css("border", "3px solid green");}
                    $('#overlay').fadeIn();
                    $.ajax({
                        url: '/prayer/submit',
                        type: 'POST',
                        data : payload,
                        success: function(ajaxResponse){
                            //$('#title').val('');
                            $('#category').val('1').change();
                            $('#prayerRequest').val('');
                            //$('#title').css("border", "0px solid black");
                            $('#category').css("border", "0px solid black");
                            $('#prayerRequest').css("border", "0px solid black");
                            $('#overlayAlert').fadeIn();
                            appendAlert('Request was received.', 'success');
                            document.getElementById('liveAlertPlaceholder').scrollIntoView();
                            $('#overlay').fadeOut();
                        },
                        failure: function(ajaxResponse){
                            $('#overlayAlert').fadeIn();
                            appendAlert('Request was not received.', 'danger');
                            document.getElementById('liveAlertPlaceholder').scrollIntoView();
                            $('#overlay').fadeOut();
                        }
                    });
                })
            }
        </script>
    </body>
</html>