<!--
    Filename: index.ejs
    Author: Timothy Damir Kovacic
-->
<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto" style="background-color: #12171F">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Timothy Damir Kovacic">
        <title>Bethlehem Baptist Church</title>
        <%- include('partials/css') %>
    </head>
    <body class="d-flex h-100 text-center text-bg-dark" style="background-color: #12171F">
        <div class="cover-container d-flex w-100 h-100 mx-auto flex-column" style="background-color: #12171F">
            <%- include('partials/nav') %>
            <main class="px-3">
                <h1 class="animate__animated animate__fadeIn">Join us in prayer from around the world.</h1>
                <p class="lead animate__animated animate__fadeIn">Praise and glory, honor and power, thanks and gratefulness be to our God for ever and ever. Amen!</p>
                <br>
                <p class="lead">
                    <a href="/prayer" class="btn btn-lg btn-light fw-bold border-white bg-white animate__animated animate__flipInY" style="width: 200px; background-color: #749155 !important; border-color: #749155 !important; color: white;">View Requests</a>
                </p>
                <p class="lead">
                    <a href="/prayer/create" class="btn btn-lg btn-light fw-bold border-white bg-white animate__animated animate__flipInY" style="width: 200px; background-color: #556C91 !important; border-color: #556C91 !important; color: white;">Create Requests</a>
                </p>
                <br>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white animate__animated animate__flipInY" style="width: 200px;">Donate</a>
                </p>
                <br>
                <iframe width="340" height="190" src="https://www.youtube.com/embed/videoseries?si=R8H8IIQS_yy0enY8&amp;list=PLnyMDYddWGCRse1T787-iEBMx8kglrJQ_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <br>
            </main>
            <footer class="mt-auto text-white-50">
                <p><a href="https://getbootstrap.com/" class="text-white"></a><a href="https://twitter.com/mdo" class="text-white"></a></p>
            </footer>
        </div>
        <!--<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <df-messenger
                chat-icon="https:&#x2F;&#x2F;bethlehem-baptist-church-mga46uiygq-uc.a.run.app&#x2F;images&#x2F;dialogflowHelperIcon.png"
                intent="WELCOME"
                chat-title="Bethlehem Baptist Church Assistant"
                agent-id="4583037b-8da7-44fb-a16d-fd205dab2191"
                language-code="en"
        ></df-messenger>-->
        <%- include('partials/js') %>
    </body>
</html>
